.container{
    margin-bottom: 50px;
}
p{
    color: gray;
}
#seeall{
    color: orange;
}
.button{
    background: black;
    color: white;
    border-radius: 8px;
    padding: 9px 20px;
    border: none;
}
#item{
    padding-top: 70px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
